version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend/app:/app/app
    env_file:
      - ./backend/.env

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:80" # Mapping host 5173 to container 80 to maintain user URL habits
    # volumes:  <- Removed in Production to use optimized built assets
    #   - ./frontend/src:/app/src
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
